@charset "UTF-8";
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background: #ffffff;
}

@media (min-width: 900px) and (max-width: 1199px) {
  body {
    margin-left: 20px;
  }
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

@media (max-width: 800px) {
  .header {
    top: 0;
    left: 200;
    right: 0;
  }
}

.header-inner {
  margin-top: 20px;
}

@media (max-width: 800px) {
  .header__logo {
    margin-left: 20px;
  }
}

.header-nav {
  max-width: 100%;
  margin-top: 10px;
  height: 40px;
}

@media (min-width: 1200px) {
  .header-nav {
    background: #333;
  }
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
}

.drawer-nav {
  width: 1310px;
  max-width: 100%;
  margin: 0 auto;
}

.header-nav-item {
  margin-left: 60px;
  line-height: 40px;
  text-transform: uppercase;
}

.header-nav-item-link {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

@media (min-width: 1200px) {
  .drawer-hamburger {
    display: none;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .drawer-hamburger {
    display: block;
  }
}

.pickup__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .pickup__item {
    display: block;
    margin-left: 40px;
    padding-bottom: 30px;
  }
}

.pickup-item__link {
  margin-top: 150px;
}

@media (max-width: 800px) {
  .pickup-item__link {
    margin-top: 30px;
  }
}

.pickup-item__photo img {
  width: 94%;
}

.pickup-item__text {
  margin-top: 10px;
  width: 94%;
  color: #333;
}

.pickup-item__text p {
  font-weight: 900;
}

.more__read {
  text-align: center;
  margin-top: 20px;
}

.more__read a {
  color: #333;
  font-size: 13px;
  padding-right: 30px;
}

@media (max-width: 800px) {
  .is-top {
    margin-top: 100px;
  }
}

content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  content {
    display: block;
    margin-left: 40px;
  }
}

content article {
  width: 65%;
}

@media (max-width: 800px) {
  content article {
    margin-left: 40px;
    width: 100%;
  }
}

content aside {
  width: 35%;
  margin-left: 20px;
}

@media (max-width: 800px) {
  content aside {
    width: 100%;
  }
}

.main__item {
  margin-top: 80px;
}

.main__title {
  font-size: 24px;
  font-weight: 900;
  color: #333;
}

@media (max-width: 800px) {
  .main__title {
    width: 660px;
  }
}

.main-item__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding: 30px 0 15px;
  color: #333;
}

@media (max-width: 800px) {
  .main-item__date {
    display: block;
  }
}

.date-text {
  padding-left: 20px;
}

.main-item__photo img {
  width: 370px;
}

@media (max-width: 800px) {
  .main-item__photo img {
    width: 100%;
  }
}

.main-item__text {
  width: 95%;
  padding-left: 20px;
  margin-top: 10px;
}

@media (max-width: 800px) {
  .main-item__text {
    width: 100%;
  }
}

.author {
  margin-left: 20px;
  width: 380px;
}

@media (min-width: 900px) and (max-width: 1199px) {
  .author {
    margin-left: 10px;
    width: 280px;
  }
}

@media (max-width: 800px) {
  .author {
    width: 100%;
  }
}

.author__main {
  font-size: 18px;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author__photo {
  margin: 80px 0 23px 120px;
}

@media (max-width: 800px) {
  .author__photo {
    text-align: center;
    margin-right: 114px;
  }
}

.author-photo__img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.author__name {
  text-align: center;
  font-weight: 700;
}

.author__text {
  font-size: 14px;
  max-width: 100%;
}

@media (min-width: 900px) and (max-width: 1199px) {
  .author__text {
    width: 300px;
    padding-left: 20px;
  }
}

@media (max-width: 800px) {
  .author__text {
    width: 100%;
    padding: 20px 20px;
  }
}

.ranking {
  margin-left: 20px;
}

.ranking__title {
  font-weight: 700;
  text-align: center;
  margin-top: 60px;
}

.ranking__photo {
  margin-top: 30px;
}

.ranking__photo a {
  text-decoration: none;
  color: #333;
}

.ranking__photo img {
  width: 94%;
}

@media (max-width: 800px) {
  .ranking__photo img {
    width: 100%;
  }
}

.ranking__photo p {
  width: 94%;
}

@media (max-width: 800px) {
  .ranking__photo p {
    width: 100%;
  }
}

.archive {
  width: 90%;
  margin-bottom: 140px;
}

.archive__title {
  font-weight: 700;
  text-align: center;
  margin-top: 60px;
  font-size: 19px;
}

.archive-title {
  margin-top: 30px;
}

.archive-title__text {
  border-top: 1px solid #333;
  padding: 20px 0 20px;
}

.archive-title__date {
  text-decoration: none;
  color: #333;
  font-size: 13px;
  padding-left: 20px;
}

.is-under {
  border-bottom: 1px solid #333;
}

.footer {
  background: #f7f7f7;
  padding-top: 40px;
  width: 100%;
}

@media (min-width: 900px) and (max-width: 1199px) {
  .footer {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .footer {
    width: 100%;
  }
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 900px) and (max-width: 1199px) {
  .footer__item {
    display: block;
    margin: 0 60px;
  }
}

@media (max-width: 800px) {
  .footer__item {
    display: block;
    margin: 0 60px;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 20px;
  max-width: 100%;
}

.about__text {
  font-size: 14px;
  width: 350px;
  padding-bottom: 10px;
}

@media (max-width: 800px) {
  .about__text {
    width: 100%;
  }
}

.about-message__text {
  padding-top: 5px;
  font-size: 14px;
  padding-left: 10px;
  position: relative;
}

.about-message__text a {
  text-decoration: none;
  color: #333;
}

.about-message__text a::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 3px;
  width: 5px;
  height: 0;
  border-style: solid;
  border-width: 5px 0 4px 5px;
  border-color: transparent transparent transparent #333;
}

.menu-nav-list {
  width: 350px;
  max-width: 100%;
}

.menu-nav-item {
  border-top: 1px solid #333;
  padding: 15px 0;
}

.menu-nav-item-link {
  text-decoration: none;
  color: #333;
  font-size: 13px;
  padding-left: 12px;
}

.sns__twitter {
  width: 350px;
  max-width: 100%;
}

.footer__copyright {
  padding: 60px 0 20px;
  text-align: center;
}

.tow-top {
  position: fixed;
  right: 24px;
  bottom: 24px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 800px) {
  .tow-top {
    right: 12px;
    bottom: 24px;
  }
}

.tow-top.is-show {
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 1;
  visibility: visible;
}

.tow-top a {
  text-decoration: none;
}

.tow-top img {
  width: 60px;
}

@media (max-width: 800px) {
  .tow-top img {
    width: 40px;
  }
}
/*# sourceMappingURL=style.css.map */